{% extends 'base.html' %}

{% block title %}
<title>List of Houses</title>
{% endblock %}

{% block content %}
<h3 style="text-align:left"><b>Hogwarts Houses</b></h3>

<div class="houses">
    {% for hous in allhouses %}
	{{hous.house_name}}  {{hous.house_id}}  <a href="{{ url_for('delhouse', name=hous.house_name) }}"><button type="button">remove House</button></a><a href="{{ url_for('amend_house', old=hous.house_name) }}"><button type="button">Edit House</button></a></p><br>
	
	{% endfor %}
</div>


<div>


    <a href="{{ url_for('clearall') }}"><button type="button">clear all</button></a></p><br>
    

</div>
{% endblock %}