{% extends 'base.html' %}

{% block title %}
<title>Hogwarts App</title>
{% endblock %}
    
{% block content %}
    <body style="text-align: center">
        <h1>Enter Student Details</h1>
	  <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.name.label }} {{ form.name }}
                <br>
                {{ form.houseID.label }} {{ form.houseID}}
                <br>
				{{ form.submit }}
            </form>
        </div>
	<div class='students'>
	<table>
		<tr>
			<th>Name</th>
			<th>House</th>
		</tr>
	{% for students in studentss %}
	<tr>
		<td>{{students.student_name}}</td><td> {{students.house_idbr.house_name}}</td>
	</tr>
	{% endfor %}
	</table>
	</div>
    </body>
{% endblock %}

